<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="bootstrap/autoload.php"
         colors="true"
         stopOnError="true"
         stopOnFailure="true"
         stopOnIncomplete="true"
         stopOnSkipped="true"
         stopOnRisky="true"
         processIsolation="false"
         syntaxCheck="false"
         beStrictAboutTestsThatDoNotTestAnything="true">
    <testsuites>
        <testsuite name="Application Test Suite">
            <directory>./tests/php/tests/</directory>
        </testsuite>
        <testsuite name="Unit">
            <directory>./tests/php/tests/Unit/</directory>
        </testsuite>
        <testsuite name="Functional">
            <directory>./tests/php/tests/Functional</directory>
        </testsuite>
        <testsuite name="Integration">
            <directory>./tests/php/tests/Integration</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">app/</directory>
        </whitelist>
    </filter>
    <php>
        <env name="DB_HOST" value="192.168.10.10"/>
        <env name="DB_USERNAME" value="homestead"/>
        <env name="DB_PASSWORD" value="secret"/>
        <env name="DB_PORT" value="3306"/>
        <env name="DB_DATABASE" value="domanamon_test"/>
        <env name="DB_CONNECTION" value="mysql"/>
        <env name="DB_DRIVER" value="mysql"/>
        <env name="APP_ENV" value="testing"/>
        <env name="CACHE_DRIVER" value="array"/>
        <env name="SESSION_DRIVER" value="array"/>
        <env name="QUEUE_DRIVER" value="sync"/>
    </php>

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">app/</directory>
            <exclude>
            </exclude>
        </whitelist>
    </filter>

    <selenium>
        <browser name="Firefox on Linux"
                 browser="*firefox /usr/lib/firefox/firefox-bin"
                 host="127.0.0.1"
                 port="4444"
                 timeout="30000"/>
    </selenium>
</phpunit>
