.domain-table {

  margin: 5rem auto;

  td,
  th
  {
    text-align: center;
    border: 1px solid #CCCCCC;
    padding: 0.5rem;

    &:first-of-type {
      text-align: left;
      width: 20rem;
    }
  }

  a > i {
    cursor: pointer;
  }

  thead {
    th {
      min-width: 5rem;
    }
  }
}
